<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>AeroTaxi Tenerife</title>
        <link rel="icon" type="image/png" href="../images/logo.png">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/styles.css">
    </head>
    <body>

        <!--NavBar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-warning shadow-sm">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center fw-bold" href="#">
                    <img src="../images/logo.png" alt="Logo AeroTaxi Tenerife" width="40" height="40" class="me-2">
                    AeroTaxi Tenerife
                </a>

                <a href="?lang=es" id="btn-es" class="btn btn-outline-dark ms-2">ES</a>
                <a href="?lang=en" id="btn-en" class="btn btn-outline-dark ms-1">EN</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ms-auto"> <a class="nav-link active" aria-current="page" href="index.html" data-en="Home">Inicio</a>
                        <a class="nav-link" href="./maps.html" data-en="Meeting Points">Puntos de encuentro</a>
                        <a class="nav-link" href="./booking.html" data-en="Booking Form">Formulario de reserva</a>
                        <a class="nav-link" href="./contact.html" data-en="Contact">Contacto</a>
                    </div>
                </div>
            </div>
        </nav>

    
        <script src="../js/languajes.js"></script>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>

</html>