<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>AeroTaxi Tenerife</title>
        <link rel="icon" type="image/png" href="../images/logo.png">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/styles.css">
    </head>
    <body>

        <!--NavBar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-warning shadow-sm">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center fw-bold" href="#">
                    <img src="../images/logo.png" alt="Logo AeroTaxi Tenerife" width="40" height="40" class="me-2">
                    AeroTaxi Tenerife
                </a>

                <a href="?lang=es" id="btn-es" class="btn btn-outline-dark ms-2">ES</a>
                <a href="?lang=en" id="btn-en" class="btn btn-outline-dark ms-1">EN</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ms-auto"> <a class="nav-link active" aria-current="page" href="index.html" data-en="Home">Inicio</a>
                        <a class="nav-link" href="./maps.html" data-en="Meeting Points">Puntos de encuentro</a>
                        <a class="nav-link" href="./booking.html" data-en="Booking Form">Formulario de reserva</a>
                        <a class="nav-link" href="./contact.html" data-en="Contact">Contacto</a>
                    </div>
                </div>
            </div>
        </nav>

        <form id="contactForm" class="container my-5" novalidate>
            <h1 class="mb-4" data-en="Contact Us"> Contacta con nosotros</h1>
            <p data-en="If you have any questions, please feel free to contact us via email at atencioncliente@aerotaxi.com or fill out our form; our team will get back to you as soon as possible.">Si tienes alguna duda, no dudes en contactarnos por correo electrónico <a href="mailto:atencioncliente@aerotaxi.com">atencioncliente@aerotaxi.com</a> o completa nuestro formulario, nuestro equipo te contestará lo antes posible.</p>
            <div class="row g-3 mb-3">
                <div class="col">
                    <label for="exampleFormControlInput1" class="form-label"  data-en="Name">Nombre</label>
                    <input type="text" class="form-control" id="name" required>
                </div>
                <div class="col">
                    <label for="exampleFormControlInput1" class="form-label" data-en="Last name">Apellidos</label>
                    <input type="text" class="form-control" id="lastname" required>
                </div>
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="name@example.com">
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label" data-en="Reason for Contact">Motivo de Contacto</label>
                <select class="form-select form-select mb-3" aria-label="select example" id="motive" required>
                    <option selected disabled data-en="Select an option">Seleccionar</option>
                    <option value="comercial" data-en="Commercial Information">Información comercial</option>
                    <option value="corregir" data-en="Correct Data">Corregir datos</option>
                    <option value="baja" data-en="Unsubscribe / Delete Data">Dar de baja datos</option>
                    <option value="otra" data-en="Other information">Otro</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label" data-en="Message">Mensaje</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" id="message" rows="3" required></textarea>
            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="checkPrivacy" required>
                <label class="form-check-label" for="exampleCheck1" data-en="I have read and accept the privacy policy">He leído y acepto la política de privacidad</label>
            </div>

            <button type="submit" class="btn btn-warning fw-bold px-5" data-en="Send Message">Enviar Mensaje</button>
        </form>

    
        <script src="../js/languajes.js"></script>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>

</html>