/* Index */
.image-background {
    background-image: url('../images/back_tittle.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; 
    padding-top: 80px;
    height: 400px; 
}

.text_tittle {
    color: black;
    text-shadow: 2px 2px 4px grey;
}

.card-reservas {
    position: absolute;
    top: 50%;
    left: 15%;
    width: 90%;
    max-width: 1000px;
    border: 15px solid #ffc107;
}

.card-reservas label {
    text-align: left;
    font-weight: bold;
}

/* Formulario de reservas */
.container.my-5 {
        background-color: #eeeff1;
        padding: 40px;
        border-radius: 15px;
        box-shadow: 0 4px 15px rgba(0,0,0,0.1);
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
}